{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-underscore-dangle": ["off"],
    "prefer-template": ["off"],
  }
}
